
# Ignore environment files
.env
*.env
contacts.csv
contacts.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/
*.egg

# Audio and logs
*.wav
*.mp3
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/
